<div class="left-login__container">
    <div class="all-content">
        <div class="logo-login">
            <img src="assets/CASHBNK.svg" alt="">
        </div>
        <div class="title-login__content">
            <h2>Bem-vindo de volta!</h2>
            <p>Acesse a sua conta agora mesmo</p>
        </div>
        <div class="button-left-login">
            <button class="btn-entrar">ENTRAR</button>
        </div>
        <div class="forget-password">
            <p>Esqueci minha senha.</p>
        </div>
    </div>
</div>